

<div>
    <h1 class=" p-3">Boton para agregar new cart</h1>
    <button class="btn btn-primary w-50  mt-3" onclick="obtenerDatosForm()">Crear producto</button>
</div>

<div>

    <h1 class=" p-3">Form para agregar productos a la carta</h1>

</div>


<div class="p-3">
    <h1>Cartas existentes</h1>
    <div id="cartsRealTime">  
        
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/carts.js"></script>

