<h5 class="text-center mt-5">Ingresa tu nuevo password</h5>
<form id="formNewPassword" action="" class="p-4 m-4 border border-success rounded d-flex flex-wrap justify-content-around">

    <label for="input_password"class="w-50 mt-2">Password</label>
    <input id="input_password" type="password" placeholder="input_password"class="w-50 mt-2">
    <input id="input_email" type="email" placeholder="input_email" hidden value={{email}}>

    <button type="submit" class="btn btn-success mt-4">¡Restablecer contraseña!</button>
</form>
 
<script src="/js/createNewPassword.js"> </script>