<h5 class="text-center mt-5">Ingresa tu nuevo password</h5>

{{#if error}}
<div>
    <h3>Parece que hubo un error, intenta nuevamente</h3>
</div>
{{/if}}

<form id="formNewPassword" action="" class="p-4 m-4 border border-success rounded d-flex flex-wrap justify-content-around">
    <div>
        <p>Ten en cuenta las siguientes recomendaciones..</p>
        <ul>
            <li> NO puedes usar la contraseña actual </li>
            <li> DEBE tener al menos 5 caracteres </li>
        </ul>
    </div>
    <input id="input_email" type="email" hidden value={{email}}>
    <input id="input_token" type="text"  hidden value={{token}}>
    <label for="input_password"class="w-50 mt-2">Password</label>
    <input id="input_password" type="password" placeholder="input_password"class="w-50 mt-2">

    <button type="submit" class="btn btn-success mt-4">¡Restablecer contraseña!</button>
</form>
 
<script src="/js/createNewPassword.js"> </script>