
{{#if error}}
<div>
    <h3>Parece que hubo un error, intenta creando nuevamente el token</h3>
</div>
{{/if}}

<form id="formResetPassword" action="" class="p-4 m-4 border border-success rounded d-flex flex-wrap justify-content-around">
    <label for="input_email"class="w-50 mt-2">Ingresa tu email para poder continuar</label>
    <input id="input_email" type="text" placeholder="input_email"class="w-50 mt-2">

    <button type="submit" class="btn btn-success mt-4">¡Restablecer contraseña!</button>
</form>
 <div>
    <button class="btn btn-outline-success  mt-4" onClick=goToRegister()>¡ Quiero registrarme! </button> 
    <a href="/api/users/session/github">
        <button  class="btn btn-outline-dark  mt-4">¡ Ingresar con GITHUB! </button>
    </a>    
 </div>
 
<script src="/js/restorePassword.js"> </script>