<h5 class="text-center mt-5">FORMULARIO DE LOGIN</h5>

{{#if error}}
<div class="d-flex justify-content-center">
    <div class="badge bg-danger text-wrap" > <!-- style="width: 6rem;" -->
        <p class="fs-4 text-center">Parece que hubo un error, intenta loguandote nuevamente</p>
    </div>
</div>
{{/if}}
{{#if success}}
<div>
    <h3>Perfecto {{success}} </h3>
</div>
{{/if}}

<form id="formUserLogin" action="" class="p-4 m-4 border border-success rounded d-flex flex-wrap justify-content-around">
    <label for="input_email"class="w-50 mt-2">Email</label>
    <input id="input_email" type="text" placeholder="input_email"class="w-50 mt-2">

    <label for="input_password"class="w-50 mt-2">Contraseña</label>
    <input id="input_password" type="password" placeholder="input_password"class="w-50 mt-2">
    <button type="submit" class="btn btn-success mt-4">¡ Iniciar sesion! </button>
</form>
 <div>
    <button class="btn btn-outline-success  mt-4" onClick=goToRegister()>¡ Quiero registrarme! </button> 
    <a href="/api/users/session/github">
        <button  class="btn btn-outline-dark  mt-4">¡ Ingresar con GITHUB! </button>
    </a>    
 </div>
  <div>
    <button class="btn btn-outline-dark  mt-4" onClick=goToRestorePassword()>Olvide mi contraseña...</button> 
 </div>
<script src="/js/userNavigation.js"> </script>